* {
    margin : 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 30px;
    border-bottom:solid 5px #f9f9f9;
}

header img {
    margin-left: 80px;
    width: 10%;
}
nav {
    display: flex;
    align-items: center;   
    margin-right: 80px;
}
nav a {
    text-decoration: none;
}

.links-header a {
    color: black;
    font-weight: bold;
    padding: 30px;
}

header button {
    border: 0;
    text-align: center;
    margin: 0 10px;
    background-color: white;
    
}

header .button-head-1 {
    background-color: white;
    padding: 10px 30px;
    border: solid 2px #2d96c8;
    border-radius: 30px;
    color: #2d96c8;
    font-weight: bold;
}

header .button-head-2 {
    background-color: #2d96c8;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: solid 2px #2d96c8;
}


/* Section 1 */

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 280px 0 280px;
}

.section1 .first-block {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section1 .block-button {
    display: flex;
    padding: 30px;
}

.block-button button {
    border: 0;
    text-align: center;
    margin: 7px;
}

.section1 img {
    width: 50%;

}

.section1 h1 {
    font-size: 35px;
}

.section1 h3 {
    color:#ef5466;
    font-size: 35px;
}

section .button-premium {
    background-color: #ef5466;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: solid 2px #ef5466;
    text-decoration: none;
}

section .button-gratuit {
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    text-decoration: none;
}


/* Phone */

.phone {
    display:flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px 100px;
}

.phone img {
    width: 35%;
}

.phone > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.phone > div > h2 {
    font-size: 50px;
}

.phone-text-container {
    margin: 0 15px 0 30px;
    display: flex;
    align-items: center;
    padding: 40px;
}

.phone h4 {
    padding: 20px 0;
    font-weight: bold;
}


/* Red section */

.section-red {
    display: flex;
    justify-content: center;
    background-color: #ef5466;
    padding: 80px 100px 80px 100px;
    align-items:center;
}

.span-icon {
    background-color: white;
    padding: 20px;
    margin: 10px;   
}

.section-red div {
    width: 100%
}

.section-red-text {
    color: white;
}

.section-red-text h2 {
    padding-bottom: 40px;
    font-size: 50px;    
}

/* Plans 1 */

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.plans h2 {
    padding-bottom: 40px;
    font-size: 40px;
}

.plans p {
    font-size: 10;
    color: gray;
    margin: 0 150px;
}

.plans-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 10px;
}

.plans-container h5 {
    padding: 5px 0 15px 0;
}

.plans-container h6 {
    padding: 15px 0;
}
.plans-container div {
    border: solid 1.5px rgb(182, 181, 181);
    margin: 2px;
    box-shadow: 3px 3px 8px 3px rgb(231, 229, 229);
    
    text-align: center;
}

.plans-container p{
    margin-top: -20px;
    padding-bottom: 30px;
}

.plans-container h3 {
    padding: 20px;
    font-size: 30px;
}

.plans-container button {
    border: 0;
    text-align: center;
    margin: 7px;
}

.plans-left > .graybutton {
    background-color: #8e8e94;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: bold;
    border: solid 2px #8e8e94;
    text-decoration: none;
}

.plans-center {
    background-color: #2d96c8;
    color: white;
}

.plans-center p {
   color:#f9f9f9;
}

.plans-center > .redbutton {
    background-color: #ef5466;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: bold;
    border: solid 2px #ef5466;
    text-decoration: none;
}

.plans-right > .redbutton {
    background-color: #ef5466;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: bold;
    border: solid 2px #ef5466;
    text-decoration: none;
}

.plans a {
    color: #f9f9f9;
}

.plans-container .gray-text {
    color: #dbd2d2;   
}

.plans-container h6 {
    color:#2d96c8;
}



/* Plans 2 */

.plans2 {
   display: flex;
   flex-direction: column;  
}

.plans2 h3{
    padding: 10px 0;
}
.plans2 a {
    color: black;
}
.plans2 > div {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 180px;
    margin: 3px;
    justify-content: space-between;
}

.plans2 > div > button {
    border: 0;
    text-align: center;
    margin: 0 10px;
    background-color: #f9f9f9;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    border: solid 2px black;
    text-decoration: none;
}

.plans2 > div > div {
   padding: 10px;
}

.plans2 h6 {
    color: #2d96c8;
}

.rouge {
    color: red;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

.appstore {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.appstore img {
    margin: 10px;
    border: solid 2px  #8e8e94;
    border-radius: 10px;
}

.footer-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 140px 0 140px;
    
}

.footer-column p {
    padding: 15px 0;
}

footer h6 {
    color: #8e8e94;
    padding-bottom: 10px;
}


footer .last {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 120px;
    margin: 0 30px;
}

footer .last i {
    margin: 10px;
}

footer img {
    width: 150px;
}


