* {
    margin : 0;
    padding: 0;
    font-family: Roboto;
}

/* Header */

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

header img {
    margin-left: 80px;
}
nav {
    display: flex;
    align-items: center;   
    margin-right: 80px;
}
nav a {
    text-decoration: none;
}

.links-header a {
    color: black;
    font-weight: bold;
    padding: 30px;
}

header button {
    border: 0;
    text-align: center;
    margin: 0 10px;
    background-color: white;
    
}

header .button-head-1 {
    background-color: white;
    padding: 10px 30px;
    border: solid 2px #2d96c8;
    border-radius: 30px;
    color: #2d96c8;
    font-weight: bold;
}

header .button-head-2 {
    background-color: #2d96c8;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: solid 2px #2d96c8;
}


/* Section 1 */

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 .first-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 .block-button {
    display: flex;
    padding: 30px;
}

.block-button button {
    border: 0;
    text-align: center;
    margin: 7px;
}

.section1 img {
    width: 50%;
}


.section1 h3 {
    color:#ef5466;
}

section .button-premium {
    background-color: #ef5466;
    padding: 10px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    border: solid 2px #ef5466;
    text-decoration: none;
}

section .button-gratuit {
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    text-decoration: none;
}


/* Phone */

.phone {
    display:flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 50px 100px;
}

.phone > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone > div > h2 {
    font-size: 50px;
}

.phone > div > div {
    display: flex;
    align-items: center;
    padding: 60px;
}


/* Red section */

.section-red {
    display: flex;
    justify-content: center;
    background-color: #ef5466;
    padding: 80px 100px 80px 100px;
    align-items:center;
}

span {
    background-color: white;
    padding: 20px;
    margin: 10px;   
}

.section-red div {
    width: 100%
}

.section-red-text {
    color: white;
}

.section-red-text h2 {
    padding-bottom: 20px;
}



/* Plans 1 */

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-container {
    display: flex;
    flex-direction: row;
}

.plans-container div {
    border: solid 1.5px rgb(182, 181, 181);
    margin: 2px;
    box-shadow: 3px 3px rgb(231, 229, 229);    
}


/* Plans 2 */

.plans2 div {
    background-color: #f9f9f9;
    margin: 5px 0;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.footer-column {
    display: flex;
    flex-direction: row;
}

.footer-column > div {
    padding: 50px;
    
}

footer img {
    width: 30%;
}